/*estilos generales*/
body {
  background-image: url("../img/background.jpg");
  margin: 0px; }

p {
  color: #cecece; }

h1 {
  font-family: 'Poppins', sans-serif;
  color: rgba(206, 206, 206, 0.5);
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px; }

h2 {
  font-family: 'Poppins', sans-serif;
  color: transparent;
  font-size: 50px;
  -webkit-text-stroke: 0.5px #cecece; }

a {
  text-decoration: none;
  color: #cecece; }
  a:hover {
    text-decoration: none;
    color: #ffffff; }

header {
  margin-bottom: 35px;
  margin-top: 35px; }

footer {
  background-color: rgba(206, 206, 206, 0.1);
  margin: 0px;
  width: 100%;
  height: 70px; }

#pie {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px; }

#footerMedio {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center; }
  #footerMedio a {
    margin: 5px; }

#footerDerecha {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-self: center; }
  #footerDerecha p {
    margin: 0px; }

.instagram {
  fill: #cecece; }
  .instagram:hover {
    fill: #ff3a00; }

.facebook {
  fill: #cecece; }
  .facebook:hover {
    fill: #3b5998; }

.youtube {
  fill: #cecece; }
  .youtube:hover {
    fill: #c4302b; }

#cajaMenuIndex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin: 20px 0px 0px 0px; }

.general__header--menu {
  padding: 10px 25px 10px 25px;
  display: block;
  text-decoration: none; }
  .general__header--menu:hover {
    background-color: rgba(206, 206, 206, 0.1); }
  .general__header--menu:active {
    background-color: rgba(206, 206, 206, 0.3); }

ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding: 0px;
  margin: 0px; }

#imgLogo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }

#cajaLogoIndex {
  margin: 0px 0px 0px 0px; }

.title1 {
  font-family: 'Poppins', sans-serif;
  color: #cecece;
  font-size: 45px; }

.title2 {
  font-family: 'Poppins', sans-serif;
  color: #cecece;
  font-size: 20px; }

.title3 {
  font-family: 'Poppins', sans-serif;
  color: rgba(206, 206, 206, 0.1);
  font-size: 30px; }

.title4 {
  font-family: 'Poppins', sans-serif;
  color: #cecece;
  font-size: 23px; }

/*estilos de index.html*/
#imagenIndex {
  opacity: 50%;
  height: 100%; }
  #imagenIndex:hover {
    opacity: 55%; }

@supports (object-fit: cover) {
  #imagenIndex {
    height: 100%;
    object-fit: cover;
    object-position: center center; } }

.index__contenido {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

#textoIndex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  background-color: rgba(206, 206, 206, 0.1);
  padding: 35px 40px 35px 0px; }

#h1_index {
  text-align: right; }

#botonIndex {
  font-size: 20px;
  width: 240px;
  height: 50px;
  border: 1px solid;
  border-color: #cecece;
  text-align: center;
  padding: 15px;
  margin: 40px 0px 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center; }
  #botonIndex:hover {
    background-color: rgba(206, 206, 206, 0.1);
    border: 1px solid;
    border-color: #cecece; }

.index__contenido--boton {
  display: flex;
  justify-content: flex-end;
  padding: 20px 25px 20px 0px;
  height: 100%; }

main p {
  font-size: 25px;
  font-family: 'Poppins', sans-serif; }

/*estilos de ficha.html*/
.ficha__contenido--menu {
  padding: 10px 45px 10px 45px;
  display: block;
  text-decoration: none;
  border: 1px solid rgba(206, 206, 206, 0.5);
  margin-top: 50px; }
  .ficha__contenido--menu:hover {
    background-color: rgba(206, 206, 206, 0.1); }
  .ficha__contenido--menu:active {
    background-color: rgba(206, 206, 206, 0.3); }

#mainFicha {
  background-color: rgba(206, 206, 206, 0.1);
  padding: 70px;
  font-family: 'Poppins', sans-serif;
  color: #cecece;
  padding-bottom: 200px; }
  #mainFicha p {
    font-size: 20px;
    text-align: justify; }

table {
  width: 800px;
  border-spacing: 0; }

.ficha__contenido--tabla1 {
  background-color: rgba(206, 206, 206, 0.1); }

.ficha__contenido--tablaColIzq {
  text-align: right; }

td {
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-right: 25px;
  color: #cecece; }

.ficha__contenido--tituloFicha, .ficha__contenido--numeroFicha {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 40px; }

.ficha__contenido--numeroFicha {
  text-align: right; }

.ficha__contenido--contenedorSection {
  margin-bottom: 80px; }

hr {
  background-color: rgba(206, 206, 206, 0.5);
  margin-bottom: 60px; }

.ficha__contenido--caracteristicasTexto {
  text-align: justify;
  margin-bottom: 20px; }

.galeria {
  display: block;
  margin: auto; }

.ficha__contenido--descargas {
  background-color: rgba(206, 206, 206, 0.1);
  text-align: center;
  padding: 15px 10px 15px 10px;
  margin: 0px 0px 0px 0px; }
  .ficha__contenido--descargas:hover {
    background-color: rgba(206, 206, 206, 0.1); }

#cajaDescargas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 160px; }

#menuFicha {
  display: block;
  text-align: right;
  padding: 0px;
  margin: 0px;
  background-color: #cecece;
  list-style: none; }

#cajaMenuPages {
  background-color: rgba(206, 206, 206, 0.1);
  margin-top: 50px;
  margin-left: 70px;
  padding: 20px; }

.ficha__contenido--scroll {
  margin-top: 40px;
  padding: 0px;
  text-align: right; }

/*estilos de embajadores.html*/
#mainEmbajadores {
  background-color: rgba(206, 206, 206, 0.1);
  font-family: 'Poppins', sans-serif;
  color: #cecece;
  padding-bottom: 200px;
  padding-top: 60px; }
  #mainEmbajadores p {
    font-size: 20px;
    text-align: justify;
    display: block; }
  #mainEmbajadores svg {
    margin-top: 50px; }

.embajadores__contenido--menu {
  border: none;
  margin-top: 30px; }
  .embajadores__contenido--menu li {
    width: 25%;
    padding: 10px 45px 10px 45px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgba(206, 206, 206, 0.5);
    margin: 0px;
    text-align: center; }
    .embajadores__contenido--menu li:hover {
      background-color: rgba(206, 206, 206, 0.1); }
    .embajadores__contenido--menu li:active {
      background-color: rgba(206, 206, 206, 0.3); }

#downEmbajadores {
  display: flex;
  justify-content: center; }

.imgEmbajadores {
  display: inline-block;
  width: 100%;
  opacity: 80%; }
  .imgEmbajadores:hover {
    opacity: 100%; }

.cajaImgEmbajadores {
  padding: 0px; }

.redesEmbajador {
  margin-right: 10px;
  width: 4%; }

.redesFacebookEmbajador {
  margin-right: 10px;
  width: 2%; }

.embajadores__contenido--cajaCard {
  background-color: rgba(206, 206, 206, 0.1);
  padding: 30px;
  margin: 40px 0px 70px 0px; }

/*estilos de contacto.html*/
::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #cecece; }

input, select, textarea {
  padding: 5px 10px;
  background-color: transparent;
  margin: 10px 20px;
  border-bottom: 1px, #cecece;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px; }

textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 90%;
  height: 100px;
  margin: 10px 10px; }

#limpiar {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #cecece;
  text-align: right;
  width: 60px; }
  #limpiar:hover {
    color: #cc111a; }

#enviar {
  color: #cecece;
  font-size: 18px;
  width: 180px;
  height: 40px;
  border: 1px solid;
  border-color: #cecece;
  text-align: center;
  padding: 10px; }
  #enviar:hover {
    background-color: rgba(206, 206, 206, 0.1); }

/*media query para xs - (max 767px) */
@media (max-width: 767px) {
  h1 {
    font-size: 35px;
    margin: 15px 0px 15px 0px; }
  #textoPrincipal {
    font-size: 14px;
    text-align: center;
    padding-left: 10px; }
  #footerMedio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px; }
  #footerDerecha {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  footer {
    height: 90px;
    margin-top: 40px;
    padding: 15px 0px 15px 0px; }
  .index__contenido--boton {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px; }
  h2 {
    font-size: 30px; }
  h4 {
    visibility: hidden; }
  hr {
    margin-top: 20px; }
  #mainEmbajadores {
    padding-right: 40px;
    padding-left: 40px; }
    #mainEmbajadores p {
      font-size: 15px; }
    #mainEmbajadores svg {
      margin-top: 20px; }
    #mainEmbajadores a {
      display: flex;
      justify-content: center; }
  .embajadores__contenido--menu {
    margin-top: 30px; }
    .embajadores__contenido--menu li {
      width: 100%;
      height: 50px; }
  #down {
    display: flex;
    justify-content: center; } }

/*media query para sm - (min 768px - max 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #textoPrincipal {
    font-size: 18px; }
  .embajadores__contenido--menu {
    margin-top: 30px; }
    .embajadores__contenido--menu li {
      width: 50%;
      height: 50px; }
  #mainEmbajadores {
    padding-right: 10px;
    padding-left: 10px; } }

/*animaciones */
/* animacion general*/
.general__header--menu {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards; }

#imgLogo {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards; }

footer {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

#footerIzquierda {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards; }

#footerMedio {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 4.5s;
  -webkit-animation-delay: 4.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards; }

#footerDerecha {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards; }

/* animacion index */
#textoIndex {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

#textoPrincipal {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards; }

#h1_index {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards; }

#botonIndex {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards; }

#imagenIndex {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

.animacionTitulos {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards; }

/* animacion ficha */
#textoFicha {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards; }

.ficha__contenido--menu {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards; }

#fichaTecnica {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards; }

/* animacion embajadores */
.ficha__animacionFoto {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

.ficha__animacionContenido {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

#textoEmbajadores {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

#downEmbajadores {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }
