#activoComprar{
	background-color: $gris10;
}

#mainComprar{
	background-color: $gris10;
	font-family: 'Poppins', sans-serif;
    color: rgb(206,206,206);
    padding-bottom: 30px;
    padding-top: 60px;
}

#map{
	margin-top: 30px;
	margin-bottom: 30px;
}

#mapa{
	width:850px;
	height: 480px;
}