@media (max-width:767px){ 
	h1{
		font-size: 35px;
		margin: 15px 0px 15px 0px;
	}
	#h1_index{
		text-align: center;
	}
	h2{
    	font-size: 30px;
	}

	h4{
		visibility: hidden;
	}

	hr{
		margin-top: 20px;
	}
	#textoIndex{
	padding: 35px 20px 35px 20px;
	}
    #textoPrincipal{
       font-size: 14px;
       text-align: center;
	}
	.index__contenido--boton{
		display: flex;
		justify-content: center;
		padding: 10px 0px 10px 0px;
	}
	#botonIndex{
		margin-top: 25px;
	}
	#footerIzquierda{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 5px;
	}
    #footerMedio{
    	display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 5px;
	}
    #footerDerecha{
    	display: flex;
		align-items: center;
		justify-content: center;
	}
	footer{
		height: 120px;
		margin-top: 40px;
		padding: 15px 0px 15px 0px;
	}

#mainEmbajadores{
	padding-right: 40px;
	padding-left: 40px;
	p {
		font-size: 15px;
	}
	svg{
		margin-top: 20px;
	}
	a{
		display: flex;
		justify-content: center;
	}
}		

.embajadores__contenido--menu{
	margin-top: 30px;
	li{
		width: 100%;
		height: 50px;
	}
}
#down{
	display: flex;
	justify-content: center;
}
}