@media (min-width: 768px) and (max-width: 991.98px) { 
    #textoPrincipal{
       font-size: 18px;
    }
    .embajadores__contenido--menu{
	margin-top: 30px;
	li{
		width: 50%;
		height: 50px;
	}
	}
	#mainEmbajadores{
		padding-right: 10px;
		padding-left: 10px;
	}
	.ajusteMenuResponsive{
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		padding-right: 0px;
	}
	.general__header--menu{
		text-align: right;
		padding: 12px;
		width: 100%;
		margin-top: 10px;
	 }

	 .ficha__contenido--menu{
		margin-top: 0px;
	 }

		/*  CONTACTO  */
	.ajusteContactoSM{
		padding: 0px;
		margin-left: 3px;
		margin-right: 3px;
	}

		/*  COMPRAR  */
#enviar{
	width: 100%;
}
}

