$gris100: rgba(206,206,206,1.0);
$gris10: rgba(206,206,206,0.1);
$gris30: rgba(206,206,206,0.3);
$gris50: rgba(206,206,206,0.5);


$listaRedes: (instagram, rgba(255,58,0,1.0)) (facebook, rgba(59,89,152,1.0)) (youtube, rgba(196,48,43,1.0));